.form{
    width: 80%;
    margin: auto;
    h2{
		text-align: center;
	}
    .form__text_field{
        @include inputfield(50px);
        margin-bottom: 10px;
    }
    .form__textarea{
        @include inputfield(200px);
        resize: none;
    }
    .form__button{
        float: right;
    }
}