.container {
	width: 100%;
	height: auto;
}

.content {
	text-align: justify;
	padding: 2rem;
}
.introduction{
	h2{
		text-align: center;
	}
	&__parts{
		margin: 50px;
		display: flex;
		justify-content: space-between;
		div{
			width: 47%;
		}
	}
	&__text--right{
		h3{
			text-align: right;
		}
	}
	&__picture{
		background-color: $grey;
		height: 300px;
	}
}
.pointer{
	@include pointerposition();
	&--left{
		@include pointerposition(left);
	}
	&__balk{
		@include pointerlook(10px ,300px, $black);
	}
	&__bal{
		@include pointerbal(20px, $black);
		&--left{
			@include pointerbal(20px, $black, left);
		}
	}
}